/*作者(Author): 李潇喃    Website: www.muzisheji.com   QQ: 854378082*/
*, *:before, *:after {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video {border:0;background:transparent;margin:0;padding:0;}
article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote {display:block;}
table, tbody, tfoot, thead, tr, th,td {background:transparent;margin:0;padding:0;}
nav ,ul {list-style:none;}
ol {list-style:decimal;}
blockquote:before, blockquote:after, q:before, q:after {content:none;}
table {border-collapse:collapse;border-spacing:0;}
hr {display:block;height:0px;border:0;border-top:1px solid #ccc;overflow:hidden; line-height:0px;}
input ,select ,a img {vertical-align:middle;outline: none;}
input[type=button],input[type=submit],input[type=reset]{-webkit-appearance:none;outline:none}
.clearfix:after {content: ""; clear: both; height: 0px; overflow: hidden; display:block; visibility: hidden;}
.clearfix {*zoom:1;}
.overh {overflow: hidden;}
.hidden {display:none;}
a {color: #313131; text-decoration: none;}
a:hover ,a:active ,a:link {text-decoration: none;}
img {max-width:100%; height:auto;}
html { width: 100%; min-height:100%; overflow-x: hidden;}
body {background: #fff;font-family:"微软雅黑","Helvetica Neue", Helvetica, Arial, sans-serif;;overflow-x: hidden;line-height: 1.6;font-size: 12px; color:#333;}
// 定位
.ps {position: absolute;}.pr {position: relative;}.f-l {float: left;} .f-r{float: right;}
// 内边距
.pd5 {padding:0.07rem;}.pd10 {padding:0.13rem;}.pd15 {padding:0.2rem;}.pd20 {padding:0.27rem;}.pt5 {padding-top: 0.07rem;}.pt10 {padding-top: 0.13rem;}.pt15 {padding-top: 0.2rem;}.pt20 {padding-top: 0.27rem;}.pb5 {padding-bottom: 0.07rem;}.pb10 {padding-bottom: 0.13rem;}.pb15 {padding-bottom: 0.2rem;}.pb20 {padding-bottom: 0.27rem;}.pl5 {padding-left: 0.07rem;}.pl10 {padding-left: 0.13rem;}.pl15 {padding-left: 0.2rem;}.pl20 {padding-left: 0.27rem;}.pr5 {padding-right: 0.07rem;}.pr10 {padding-right: 0.13rem;}.pr15 {padding-right: 0.2rem;}.pr20 {padding-right: 0.27rem;}
// 外边距
.mg5 {margin:0.07rem;}.mg10 {margin:0.13rem;}.mg15 {margin:0.2rem;}.mg20 {margin:0.27rem;}.mt5 {margin-top: 0.07rem;}.mt10 {margin-top: 0.13rem;}.mt15 {margin-top: 0.2rem;}.mt20 {margin-top: 0.27rem;}.mb5 {margin-bottom: 0.07rem;}.mb10 {margin-bottom: 0.13rem;}.mb15 {margin-bottom: 0.2rem;}.mb20 {margin-bottom: 0.27rem;}.ml5 {margin-left: 0.07rem;}.ml10 {margin-left: 0.13rem;}.ml15 {margin-left: 0.2rem;}.ml20 {margin-left: 0.27rem;}.mr5 {margin-right: 0.07rem;}.mr10 {margin-right: 0.13rem;}.mr15 {margin-right: 0.2rem;}.mr20 {margin-right: 0.27rem;}
// 表单
.pure-form input[type=text],.pure-form input[type=number],.pure-form input[type=search],.pure-form input[type=tel],.pure-form input[type=color],.pure-form input[type=password],.pure-form input[type=email],.pure-form input[type=url],.pure-form input[type=date],.pure-form input[type=month],.pure-form input[type=time],.pure-form input[type=datetime],.pure-form input[type=datetime-local],.pure-form input[type=week],.pure-form select,.pure-form textarea{padding:.5em .6em;display:inline-block;border:1px solid #ccc;box-shadow:inset 0 1px 3px #ddd;border-radius:4px;vertical-align:middle;box-sizing:border-box}.pure-form input:not([type]){padding:.5em .6em;display:inline-block;border:1px solid #ccc;box-shadow:inset 0 1px 3px #ddd;border-radius:4px;box-sizing:border-box}.pure-form input[type=color]{padding:.2em .5em}.pure-form input:not([type]):focus,.pure-form input[type=text]:focus,.pure-form input[type=number]:focus,.pure-form input[type=search]:focus,.pure-form input[type=tel]:focus,.pure-form input[type=color]:focus,.pure-form input[type=password]:focus,.pure-form input[type=email]:focus,.pure-form input[type=url]:focus,.pure-form input[type=date]:focus,.pure-form input[type=month]:focus,.pure-form input[type=time]:focus,.pure-form input[type=datetime]:focus,.pure-form input[type=datetime-local]:focus,.pure-form input[type=week]:focus,.pure-form select:focus,.pure-form textarea:focus{outline:0;border-color:#129FEA}.pure-form input[type=file]:focus,.pure-form input[type=radio]:focus,.pure-form input[type=checkbox]:focus{outline:#129FEA auto 1px}.pure-form .pure-checkbox,.pure-form .pure-radio{margin:.5em 0;display:block}.pure-form input:not([type])[disabled],.pure-form input[type=text][disabled],.pure-form input[type=number][disabled],.pure-form input[type=search][disabled],.pure-form input[type=tel][disabled],.pure-form input[type=color][disabled],.pure-form input[type=password][disabled],.pure-form input[type=email][disabled],.pure-form input[type=url][disabled],.pure-form input[type=date][disabled],.pure-form input[type=month][disabled],.pure-form input[type=time][disabled],.pure-form input[type=datetime][disabled],.pure-form input[type=datetime-local][disabled],.pure-form input[type=week][disabled],.pure-form select[disabled],.pure-form textarea[disabled]{cursor:not-allowed;background-color:#eaeded;color:#cad2d3}.pure-form input[readonly],.pure-form select[readonly],.pure-form textarea[readonly]{background-color:#eee;color:#777;border-color:#ccc}.pure-form input:focus:invalid,.pure-form select:focus:invalid,.pure-form textarea:focus:invalid{color:#b94a48;border-color:#e9322d}.pure-form input[type=file]:focus:invalid:focus,.pure-form input[type=radio]:focus:invalid:focus,.pure-form input[type=checkbox]:focus:invalid:focus{outline-color:#e9322d}.pure-form select{border:1px solid #ccc;background-color:#fff}.pure-form select[multiple]{height:auto}.pure-form label{margin:.5em 0 .2em}.pure-form fieldset{margin:0;padding:.35em 0 .75em;border:0}.pure-form legend{display:block;width:100%;padding:.3em 0;margin-bottom:.3em;color:#333;border-bottom:1px solid #e5e5e5}.pure-form-stacked input:not([type]),.pure-form-stacked input[type=text],.pure-form-stacked input[type=number],.pure-form-stacked input[type=search],.pure-form-stacked input[type=tel],.pure-form-stacked input[type=color],.pure-form-stacked input[type=file],.pure-form-stacked input[type=password],.pure-form-stacked input[type=email],.pure-form-stacked input[type=url],.pure-form-stacked input[type=date],.pure-form-stacked input[type=month],.pure-form-stacked input[type=time],.pure-form-stacked input[type=datetime],.pure-form-stacked input[type=datetime-local],.pure-form-stacked input[type=week],.pure-form-stacked label,.pure-form-stacked select,.pure-form-stacked textarea{display:block;margin:.75em 0}.pure-form-aligned .pure-help-inline,.pure-form-aligned input,.pure-form-aligned select,.pure-form-aligned textarea,.pure-form-message-inline{display:inline-block;vertical-align:middle}.pure-form-aligned textarea{vertical-align:top}.pure-form-aligned .pure-control-group{margin-bottom:.5em}.pure-form-aligned .pure-control-group label{text-align:right;display:inline-block;vertical-align:middle;width:10em;margin:0 1em 0 0}.pure-form-aligned .pure-controls{margin:1.5em 0 0 11em}.pure-form .pure-input-rounded,.pure-form input.pure-input-rounded{border-radius:2em;padding:.5em 1em}.pure-form .pure-group fieldset{margin-bottom:10px}.pure-form .pure-group input,.pure-form .pure-group textarea{display:block;padding:10px;margin:0 0 -1px;border-radius:0;position:relative;top:-1px}.pure-form .pure-group input:focus,.pure-form .pure-group textarea:focus{z-index:3}.pure-form .pure-group input:first-child,.pure-form .pure-group textarea:first-child{top:1px;border-radius:4px 4px 0 0;margin:0}.pure-form .pure-group input:first-child:last-child,.pure-form .pure-group textarea:first-child:last-child{top:1px;border-radius:4px;margin:0}.pure-form .pure-group input:last-child,.pure-form .pure-group textarea:last-child{top:-2px;border-radius:0 0 4px 4px;margin:0}.pure-form .pure-group button{margin:.35em 0}.pure-form .pure-input-1{width:100%}.pure-form .pure-input-3-4{width:75%}.pure-form .pure-input-2-3{width:66%}.pure-form .pure-input-1-2{width:50%}.pure-form .pure-input-1-3{width:33%}.pure-form .pure-input-1-4{width:25%}.pure-form .pure-help-inline,.pure-form-message-inline{display:inline-block;padding-left:.3em;color:#666;vertical-align:middle;font-size:.875em}.pure-form-message{display:block;color:#666;font-size:.875em}@media only screen and (max-width :480px){.pure-form button[type=submit]{margin:.7em 0 0}.pure-form input:not([type]),.pure-form input[type=text],.pure-form input[type=number],.pure-form input[type=search],.pure-form input[type=tel],.pure-form input[type=color],.pure-form input[type=password],.pure-form input[type=email],.pure-form input[type=url],.pure-form input[type=date],.pure-form input[type=month],.pure-form input[type=time],.pure-form input[type=datetime],.pure-form input[type=datetime-local],.pure-form input[type=week],.pure-form label{margin-bottom:.3em;display:block}.pure-group input:not([type]),.pure-group input[type=text],.pure-group input[type=number],.pure-group input[type=search],.pure-group input[type=tel],.pure-group input[type=color],.pure-group input[type=password],.pure-group input[type=email],.pure-group input[type=url],.pure-group input[type=date],.pure-group input[type=month],.pure-group input[type=time],.pure-group input[type=datetime],.pure-group input[type=datetime-local],.pure-group input[type=week]{margin-bottom:0}.pure-form-aligned .pure-control-group label{margin-bottom:.3em;text-align:left;display:block;width:100%}.pure-form-aligned .pure-controls{margin:1.5em 0 0}.pure-form .pure-help-inline,.pure-form-message,.pure-form-message-inline{display:block;font-size:.75em;padding:.2em 0 .8em}}
// 颜色
$color_f0:#F0F2F5;
$color_f8:#F8F8F8;
$color_f:#fff;
$color_e:#eee;
$color_9:#999;
$color_6:#666;
$color_3:#333;
$color_lanhui:#4E525E;
$color_main:#EC392A;
$color_shenred:#BF3328;
$color_cheng:#FF7E45;
$color_lan:#3AC2DB;
$color_fen:#FF4A7D;
$color_lv:#00C670;
$color_zi:#952DFF;
.color_f0 {color:$color_f0;}
.color_f8 {color:$color_f8;}
.color_f {color:$color_f;}
.color_9 {color:$color_9;}
.color_6 {color:$color_6;}
.color_3 {color:$color_3;}
.color_main {color:$color_main;}
.color_shenred {color:$color_shenred;}
.color_cheng {color:$color_cheng;}
.color_lanhui {color:$color_lanhui;}
.color_lan {color:$color_lan;}
.color_fen {color:$color_fen;}
.color_lv {color:$color_lv;}
.color_zi {color:$color_zi;}
// 一些公用的
em,i {font-style: normal;}
.db {display: block}
.m_a {margin:0 auto;}
.bgc_m {background-color: $color_main;}
.bgc_f {background-color: $color_f;}
.db_ma {display: block; margin:0 auto;}
.font_lg {font-size: 16px;}
.font_md {font-size: 14px;}
.font_sm {font-size: 12px;}
.label {border: $color_9 solid 1px;border-radius: 3px; padding:0 0.133333rem; line-height: 1.6; display: inline-block;}
.label-hui {border-color: #A6A6A6; color:$color_6;}
.label-red {border-color: $color_main; color:$color_main;}
.slh {overflow: hidden;text-overflow: ellipsis;display: -webkit-box; /* number of lines to show */ -webkit-line-clamp: 2;-webkit-box-orient: vertical;}
// 登录页面
.login_box {
    width:9rem;
    margin:0.666667rem auto;
    min-height:13rem;
    .btn_submit ,.btn_reset {
        width:100%;
        line-height: 2.6;
        height:2.6em;
        display: block;
    }
}
.login-top {
    width:10rem;
    line-height: 2.6;
    z-index: 10;
    transition: all 0.3s;
    background-color: $color_main;
    text-align: center;
    font-size: 14px;
    color:$color_f;
}
// 头
body {background-color: $color_f0; max-width:750px; margin:0 auto; min-height:667px;}
.main-box {min-height:14.5rem; margin:0;}
.top_search {
    width:10rem; position: fixed; padding:0.266667rem; height:1.333333rem; line-height: 0.8rem; z-index: 10;transition: all 0.3s; top:0;overflow: hidden;
    .t_s_input {width:9.466667rem; border-radius: 0.4rem; display: block; padding:0.1rem 0.4rem; border:none; line-height: 0.6rem; height:0.8rem;padding-right:1.2rem;}
    .t_s_btn {font-size: 26px; position: absolute; right:0.533333rem; top:0.3rem; color:$color_main; z-index: 100; background-color: transparent; border:none; padding:0;}
}
.top_search_sub {background-color: $color_main;}
.top_banner {width:10rem; height:4.466667rem;}
// 分类
.menu {
    padding: 0.266667rem 0 0;
    li {
        width:2.0rem; text-align: center; float: left; overflow: hidden; padding-bottom:0.133333rem;
        .menu_img {width:0.933333rem; height:0.933333rem; border-radius: 5px;overflow: hidden; display: block;}
        .menu_title {white-space: nowrap; line-height: 2; height:2em; overflow: hidden;}
    }
}
// 团
.sec_tuan {
    .t2_tuan {
        font-size: 16px; font-weight: normal; margin-bottom: 0.266667rem;
        .t2_span_2 {margin-left: 5px; display: inline-block;}
    }
    padding:0.266667rem;
    .list_tuan {
        li {
            width:3.146667rem; float: left; overflow: hidden;text-align: center;
            .l_t_img {width:2.666667rem;}
            .l_t_title {color:$color_6; margin-top: 5px; display: block; line-height: 1.6; height:3.2em;}
            .l_t_price {
                display: block; color:$color_main;
                i {font-size: 16px;}
            }
            .l_t_oldprice {color:$color_9; line-height: 1.2;}
        }
    }
}
// 分类列表
.t2_cate {
    text-align: center; font-size: 16px; color:$color_main; width:10rem; line-height: 2em;font-weight: normal; margin-bottom: 0.266667rem;
    .t2_xian {height: 1px; background-color: #D6D7D9; top:1em; width:100%; left:0; z-index: -1;}
    .t2_cate_span {background-color: $color_f0; padding:0 0.266667rem; display: inline-block;}
}
.list_good {
    width:10rem;
    li {
        float: left; width:4.8rem; overflow: hidden; background-color: $color_f; margin:0 0.133333rem 0.133333rem; padding:0.133333rem;
        &:nth-of-type(2n) {margin-left: 0;}
    }
    .l_g_img {width:100%;}
    .l_g_t {line-height: 1.6; height:3.2em; overflow: hidden; margin: 5px 0;}
    .l_g_info {
        position: relative; line-height: 2em;font-size: 12px; color:$color_6;
        .l_g_price {font-size: 14px;}
        .l_g_btn_addcart {position: absolute; background-color: $color_main; color:$color_f; font-size: 16px; height:22px; width:22px; text-align: center; border-radius: 3px; right:0.133333rem;}
    }
}
// 底
.foot {
    text-align: center; background-color: $color_lanhui; color:$color_f0; padding:0.4rem 0.266667rem 1.866667rem;
}
.pos_foot {
    position: fixed; bottom:0; width:10rem; background-color: $color_f8; height: 1.4rem; padding:0.15rem 0;
    .p_f_link {
        width:2.0rem; float: left; display: block; text-align: center;font-size: 22px; line-height: 1.2;
        em {display: block;font-size: 12px;}
    }
}
.btn-addcart ,.btn-createorder ,.show_btn_submitorder ,.show_btn_tosubmit ,.btn-submit {
    width:3rem; float: left;display: block; background-color: $color_main;height:1.4rem; line-height: 1.4rem; color:$color_f; font-size: 16px;text-align:center; margin-top: -0.15rem; cursor: pointer;
}
.btn-submit {
    margin:0rem -0.266667rem; width:10rem; height:0.9rem; line-height: 0.9rem; font-size: 14px;
}
.btn-createorder-lg {width:6rem;}
.btn-createorder { background-color: $color_cheng; }
.show_btn_submitorder {line-height: 1.066667rem; }
.pos_foot_cart {
    bottom:1.4rem; background-color: $color_e; line-height: 1.066667rem; height:1.066667rem;
    .show_btn_tosubmit {line-height: 1.066667rem;}
}
// 详情页面
.sec_album {width:10rem; font-size: 0;}
// 团信息
.tuaninfo {
    height:1.2rem; color:$color_f; text-align: center;
    .ti_left {
        width:1.8rem;height:1.2rem;background-color: $color_cheng; line-height: 1.4; padding-top: 0.066667rem;
        em {display: block;}
    }
    .ti_right {
        width:8.2rem;height:1.2rem;background-color: $color_main;
        .ti_r_t {height:0.6rem;}
        .ti_r_b {background-color: $color_shenred;height:0.6rem;}
    }
}
// 信息
.goodinfo {
    .good_title {font-size: 14px; font-weight: normal;}
    .label {margin-left:5px;}
}
.t4_show {float: left; display: inline-block; margin-right: 5px; font-weight: normal;font-size: 12px;}
.g_s_info {
    .g_s_name {margin-right: 5px;}
}
.list_coupon {
    clear:both;
    li {
        width:2.9rem; float: left;border:$color_lan solid 1px;margin:0.1rem; line-height: 2em; height:60px;overflow: hidden; position: relative; color:$color_lan;
        .l_c_price {padding-left: 5px;font-size: 18px; line-height: 36px; height:36px; overflow: hidden;}
        .l_c_info {width:2.9rem; background-color: #DCF4FF; padding-left: 5px; line-height: 2em;height:2em; overflow: hidden;}
        .l_c_btn {height:4em; width:1.4em; padding-left: 0.4em; line-height: 2; margin-right: 5px; position: absolute; right:0; top:0.9em; border-left: $color_f dashed 1px;}
    }
    li.used {
        border:$color_e solid 1px; color:$color_9;
        .l_c_info {background-color: $color_e; }
        .l_c_u_right { border-right:$color_e solid 1px; }
    }
}
.list_coupon_user {
    li {
        width:8.9rem; height:60px; overflow: hidden; margin-bottom: 0.266667rem;
        .l_c_u_left {width:2.9rem; overflow: hidden;}
        .l_c_u_right {width:5.9rem; border-right:$color_lan solid 1px; height:60px; overflow: hidden;}
        .l_c_u_right .l_c_info {width:100%;}
    }
}
.sec_dian {
    .s_d_logo {width:2.4rem; margin-right: 0.266667rem;}
    .s_d_info {
        line-height: 1.4;
        h2 {font-size: 12px; font-weight: normal;}
        p a {color:$color_9;}
    }
}
.pos_bg ,.pos_bg_1 {position: fixed;width:100%; bottom:0; left:0;top:0; background-color: rgba(0,0,0, 0.7); z-index: 99;}
.pos_alert_con {position: fixed; width:10rem; max-height:400px; overflow-y: scroll; background-color: $color_f8; bottom:0em; padding:0.266667rem 0.266667rem 0; z-index: 100;}
.pos_close {position: absolute;right:10px; top:10px; font-size: 16px; width:35px; height:35px; display: block; text-align: right;}
.g_i_r_spec {
    dl {margin-bottom: 0.2rem; border-bottom:$color_f solid 1px; padding:0.15rem;}
    dt {width:1.5rem; color:$color_6; font-weight: normal; float: left; line-height: 2; text-align: right; display: block; padding-right: 0.2rem;}
    dd {float: left; width:6.7rem;
        a {
            display: inline-block; border:$color_9 solid 1px; padding:0 5px; line-height: 2; margin-right: 10px; border-radius: 3px;
            &.active ,&:hover {border-color: $color_main; color:$color_main;}
        }
    }
}
.g_nums { margin: 0.4rem 0;}
.g_nums i {width:1.5rem;line-height: 2; text-align: right; display: block;padding-right: 0.2rem;}
.g_num_con {
    span {background-color: $color_f; border-radius: 3px; display: inline-block; margin-left: 1px; padding:0 0.266667rem; line-height: 2;}
    .num_dec ,.num_inc {font-size: 12px; text-align: center; color:$color_9;}
}
// 分类
.t3_cate {font-weight: normal;margin-bottom: 0.133333rem; font-size: 14px; color:$color_9;}
.list_cate {
    margin-top: 1.3333rem; min-height:500px;
    .l_c_left {
        width:2.0rem; overflow: hidden;padding-bottom: 10000px;margin-bottom: -10000px;
        li { padding:0.266667rem; border-bottom:$color_f0 solid 1px;}
        .active a {color:$color_main;}
    }
    .l_c_right {width:8.0rem; overflow: hidden;}
    .l_c_subcate {
        li {
            width:2.3rem; float: left; text-align: center; overflow: hidden; margin-bottom: 0.266667rem;
            .l_c_s_img { width:1.4rem; }
        }
    }
}
// 列表
.mt_sub {margin-top: 1.4rem;}
.tab_select {
    .t_s_link { float: left; display: block; width:2.426667rem; text-align: center; overflow: hidden;
        &.active {color:$color_main;}
    }
    .t_s_link i {font-size: 12px; line-height: 2; margin-left: 3px;}
}
// 订单列表
.tab_order {
    .t_o_link {float: left; overflow: hidden; width:2.0rem; text-align: center; line-height: 2.4em;
        &.active {color:$color_main; border-bottom:$color_main solid 2px;}
    }
}
.l_o_t_title .iconfont {font-size: 14px; margin-right: 3px;}
.l_o_goods {
    padding:0.266667rem 0 0; background-color: $color_f8; width:10rem; margin-left: -0.266667rem;
    li {padding:0.266667rem;}
    li:nth-of-type(2n) {background-color: $color_e;}
    .l_o_g_img {width:1.6rem; height:1.6rem; float: left; overflow: hidden; border-radius: 3px; margin-right: 10px;}
    .l_o_g_title {font-size: 12px; font-weight: normal;}
}
.l_o_goods_2 {
    padding:0.133333rem 0.266667rem;
    li {width:1.6rem; height:1.6rem; float: left; margin:0.133333rem 0; margin-right:10px;}
    li:nth-of-type(2n) {background-color: #F8F8F8;}
}
// 会员中心
.center_head {
    background-color: $color_shenred; color:$color_f; padding:0.4rem 0.266667rem; box-shadow:0px 0px 10px -3px #500803 inset;
    .c_header {width:1.333333rem; height:1.333333rem; border-radius: 0.666667rem; float: left; margin-right: 0.266667rem;}
    .c_h_info h3 {font-weight: normal; font-size: 14px;margin:2px 0;}
}
.t4_center {padding-left: 0.266667rem; padding-right: 0.266667rem; line-height: 3; border-bottom:$color_e solid 1px;font-weight: normal; font-size: 12px;
    .iconfont {font-size: 14px; margin-right: 3px;}
    .t4_center_r { right:5px; top:4px; color:$color_6; .iconfont {color:$color_9; font-size: 12px;}}
}
.c_o_link {
    width:3.333333rem; float: left; overflow: hidden;text-align: center; padding:0.266667rem 0;
    i , em {display: block;}
    i {font-size: 24px; line-height: 1;}
}
// 购物车结算页面
.tips {background-color: $color_cheng; color:$color_f; padding:0.266667rem; .iconfont {margin-right: 3px; font-size: 14px;}}
.cart_address {
    background:$color_f url('../images/cart_bg.png') left bottom repeat-x; background-size: auto 0.133333rem; padding-bottom: 0.4rem;
    .c_a_left {float: left; width:0.4rem; font-size: 20px; padding-top: 0.15rem;}
    .c_a_info {float: left; width:8rem; overflow:hidden; padding:0 0.266667rem;}
    .c_a_right {float: right; width:0.4rem; font-size: 20px; color:$color_9; padding-top: 0.15rem;}
}
.sec_cart_goods {
    border-bottom:$color_f8 solid 1px; min-height:60px;
    .c_g_nums {width:1.5rem; right:0.266667rem; top:40%; line-height: 1.4; text-align: right; .iconfont {color:$color_9; font-size: 14px; float: right;}}
    .cart_goods {
        width:7.8rem;
        li {
            width:1.95rem; padding:0.133333rem; float: left;text-align: center; font-size: 12px;
            .c_g_img {border-radius: 5px; overflow: hidden; display: block; margin:0 auto;}
            .iconfont {font-size: 12px;}
            p {margin-top: 5px;}
        }
    }
}
.t4_cart {font-size: 12px;font-weight: normal;float: left; padding-right: 0.266667rem; padding-left: 0.266667rem;}
.cart_right {right:0.266667rem; top:0; text-align: right; padding-right: 0.4rem; color:$color_6;
    .iconfont {right:0; top:30%; color:$color_9; font-size: 12px;}
}
.cart_payship {
    height:5em;
    .t4_cart { line-height: 2;}
}
.coupon_can {background-color: $color_main; padding:0 0.133333rem; margin-left: 3px; border-radius: 2px;color:$color_f;}
.cart_coupon .iconfont {top:0;}
.cart_prices {width:7rem;text-align: center; display: block; float: left; line-height: 0.8rem;}
.cart_good_select {
    li {padding-bottom: 0.266667rem; border-bottom:$color_e solid 1px;}
    .select_input {width:0.4rem; float: left; line-height: 2.4; padding-top: 3px;}
    .change_nums {
        float: right; color:$color_3; width:8.8rem; line-height: 2.4;
        span {background-color: $color_f8;float: right; margin-left: 1px; padding:0 0.266667rem;}
        .num_reduce ,.num_plus {font-size: 12px; text-align: center; color:$color_9;}
    }
    .c_g_s_img {width:2.0rem; height:2.0rem; border-radius: 5px; overflow: hidden; float: left; margin-right: 10px;}
    .c_g_s_title {font-size: 12px;font-weight: normal;}
    .label {color:$color_9; border-color:$color_9;}
}
// 分页
.pages {
    padding:0.266667rem;
    li {
        width:4.62rem; float: left; background-color: $color_f; padding:0.133333rem;
        a {display: block;}
        &:nth-of-type(2) {float: right;text-align:right;}
    }
}
// 焦点图
.touchslider-shop ,.touchslider-viewport {width:10rem; height:8rem; overflow: hidden;}
.touchslider-item {
    width: 10rem; height:8rem; overflow: hidden;
    img {width: 10rem; height:8rem;}
}
.top_banner {
    .touchslider-shop ,.touchslider-viewport {width:10rem; height:4.466667rem; overflow: hidden;}
    .touchslider-item {
        width: 10rem; height:4.466667rem; overflow: hidden;
        img {width: 10rem; height:4.466667rem;}
    }
}
.touchslider-nav {
  text-align: center; width:10rem; text-align: center; bottom:0.15rem; left:0;
}
.touchslider-shop .touchslider-nav-item {
  width: 0.2rem;
  height: 0.2rem;
  background: $color_9;
  opacity: .5;
  margin: 0 0.2rem;
  display: inline-block;
  -webkit-border-radius: 0.1rem;
          border-radius: 0.1rem;
}
.touchslider-shop .touchslider-nav-item-current {
  background: $color_main;opacity: 1;
}
// 弹出提示
.alert_home {
    padding:10px 30px; line-height: 2; background-color: rgba(0,0,0,0.7); position:fixed; top:30%; left:50%; margin-left: -150px; width:300px; color:$color_f; text-align: center; border-radius: 5px; font-size: 14px; z-index: 1000;
}
.select_address {
    li {padding: 0.133333rem; margin-bottom: 10px; background-color: $color_f;}
    .btn_add_address {display: block; text-align: center; background-color: $color_cheng; border-radius:3px;color:$color_f; line-height: 2.4;}
}
.mark {
    width:100%; border:$color_9 solid 1px; display: block; border-radius:3px;line-height: 2;
}
.cart_gift {
    .t4_cart_2 {font-weight: normal; font-size: 12px; padding-left: 0.266667rem; color:$color_main;}
    .c_g_s_img {width:1.8rem; height:1.8rem; float: left; margin-right: 10px; display: block; overflow: hidden; border-radius: 5px;}
    .c_g_s_title {font-size: 12px; font-weight: normal;}
}
// 支付页面
.sec_pay {
    .t4_pay {font-size: 14px; font-weight: normal; color:$color_main; text-align: center;}
    .p_pay_orderid {margin-top: 0.266667rem; font-size: 12px; color:$color_6; text-align: center; padding-bottom: 0.266667rem; border-bottom:$color_e solid 1px;}
    .pay_radio ,.pay_checkbox {float: left; margin-top: 0.25rem; margin-right: 0.266667rem;}
    .pay_icon {width:0.853333rem; height:0.853333rem; float: left; margin-right: 0.266667rem;}
    .pay_text {line-height: 0.853333rem;}
    .cart_send {margin-top: 0.4rem; float: left;}
    .sendtoconfirm {float: right; width:3rem;text-align: center; line-height: 2.4; background-color: $color_main; color:$color_f; border-radius: 3px; border:0;}
}
// 表单
.btn_reset ,.btn_submit {
    display: inline-block; padding:0 15px; line-height: 2.2; font-size: 12px; height: 2.2em; background-color: $color_9; color:$color_f; border:0; border-radius: 5px; margin-right: 0.133333rem;
}
.btn_submit {background-color: $color_main;}
.list_address {
    li {margin-bottom: 0.2rem; padding-bottom: 0.2rem; border-bottom:$color_e solid 1px;}
    h4 {font-size: 14px; font-weight: normal; color:$color_3;}
    p {font-size: 12px; color:$color_9; margin-top: 5px;}
    .con {width:7rem;}
    .iconfont {width:1rem; text-align: right; display: block; margin-top: 0px; color:$color_9; font-size: 20px;}
}
// 补充信息弹出
.nophone {position: absolute; top:4rem; bottom:auto; height:auto; min-height:normal; width:9rem; left:0.5rem; border-radius: 5px; overflow: hidden; padding:0.4rem;
background-color: $color_f8; z-index: 100;}
.list_consume {
    li {line-height: 2.4; margin-bottom: 5px; border-bottom:$color_e dashed 1px;}
}
// 团人
.tuan-user {
    li {
        width:1.89rem; padding:0 0.2rem; text-align: center;
    }
    img {
        border-radius: 3px;
    }
    p {color:$color_6;}
}
.tu-t3 {
    font-size: 12px;
    font-weight: normal;
    color:$color_9;
    margin-bottom: 0.2rem;
}
.sign {
    background-color: $color_f8;
    padding:0.05rem 0.15rem;
    border-radius:3px;
    color:$color_shenred;
    border:$color_f solid 1px;
    i {margin-right: 0.1rem;}
}
// 分销
.list_distribution {
    li {
        padding:10px;
        margin-bottom: 10px;
    }
}